@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt');
body {
  background-color: #f8f4fd;
  color: #2e2e2e;
  font-family: 'Open Sans', sans-serif;
}
body,
p {
  font-size: 16px;
}
h1 {
  font-size: 28.8px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 19.2px;
}
h1,
h2,
h3 {
  color: purple;
  text-shadow: 1px 0px 0px #401567;
}
button.primary {
  background-color: purple;
  color: #fcfcfc;
  text-shadow: 5px 3px 4px #401567;
  border: none;
  border-right: 2px solid #340033;
  border-bottom: 2px solid #340033;
  border-radius: 4px;
  padding: 8px;
}
.section-heading {
  text-align: center;
  z-index: 0;
  margin-top: 0;
  height: 48vh;
  background: linear-gradient(purple, rgba(128, 0, 128, 0.72));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 22vh);
  box-shadow: 0px 2px 3px 0px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
}
.section-heading p {
  margin-top: 0;
  font-family: 'Rock Salt', cursive;
  font-size: 72px;
  color: #fcfcfc;
  text-shadow: 5px 3px 4px #401567;
}
.header {
  text-align: center;
  z-index: 0;
  margin-top: 0;
  height: 48vh;
  background: linear-gradient(purple, rgba(128, 0, 128, 0.72));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 22vh);
  box-shadow: 0px 2px 3px 0px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
}
.header p {
  margin-top: 0;
  font-family: 'Rock Salt', cursive;
  font-size: 72px;
  color: #fcfcfc;
  text-shadow: 5px 3px 4px #401567;
}
.header p {
  padding: 40px;
}
.portfolio-section-heading {
  text-align: center;
  margin-top: 0;
  height: 48vh;
  background: linear-gradient(purple, rgba(128, 0, 128, 0.72));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 22vh);
  box-shadow: 0px 2px 3px 0px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
  z-index: 0;
  clip-path: polygon(0 0, 100% 55%, 100% 95%, 0 40%);
  position: relative;
  width: 100%;
  top: -15vh;
}
.portfolio-section-heading p {
  margin-top: 0;
  font-family: 'Rock Salt', cursive;
  font-size: 72px;
  color: #fcfcfc;
  text-shadow: 5px 3px 4px #401567;
}
.portfolio-section-heading p {
  font-size: 48px;
  padding: 17vh;
}
.shadow {
  filter: drop-shadow(0 3px 5px rgba(10, 10, 10, 0.4));
}
.section-heading-shadow {
  filter: drop-shadow(0 0px 5px rgba(10, 10, 10, 0.8));
}
.card {
  background-color: #fcfcfc;
  box-shadow: 0px 2px 3px 0px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
  margin-bottom: 32px;
}
.card .card-content {
  padding: 32px;
}
.badge {
  display: inline-block;
  border: 1px solid #2e2e2e;
  border-left: 4px solid purple;
  border-radius: 4px;
  background-color: #f1e7fa;
  padding: 4px 8px;
  margin: 0 8px;
}
.half-width {
  width: 50%;
}
.centered {
  margin: 0 auto;
}
.content {
  position: absolute;
  top: 26vh;
  z-index: 1000;
  width: 100%;
}
.container {
  width: 100%;
  padding: 32px;
}
.about {
  position: relative;
  z-index: 1000;
  margin: 0 auto 32px auto;
  width: 60%;
  text-align: center;
}
.about .tagline {
  width: fit-content;
  margin-bottom: 64px;
  text-align: left;
}
.about .subtitle {
  margin-top: 0;
  padding-left: 3px;
}
.about h1,
.about h2,
.about h3 {
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}
.about h1 {
  text-align: center;
  font-size: 3.5rem;
}
.about p {
  text-align: left;
}
.about .call-to-action {
  margin: 32px;
  font-size: 28.8px;
  padding: 16px;
}
.portfolio {
  position: relative;
  top: -20vh;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "piece-1 piece-2" "piece-3 piece-4";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}
.portfolio .portfolio-item {
  background-color: #fcfcfc;
  box-shadow: 0px 2px 3px 0px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
  margin-bottom: 32px;
  width: 100%;
  height: 100%;
  padding: 16px;
}
.portfolio .portfolio-item .card-content {
  padding: 32px;
}
.portfolio .portfolio-item img {
  margin-bottom: 32px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 2px 3px 0px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
}
.portfolio .portfolio-item.item-1 {
  grid-area: piece-1;
}
.portfolio .portfolio-item.item-2 {
  grid-area: piece-2;
}
.portfolio .portfolio-item.item-3 {
  grid-area: piece-3;
}
.portfolio .portfolio-item.item-4 {
  grid-area: piece-4;
}
.portfolio .portfolio-item .portfolio-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.portfolio .portfolio-item .portfolio-heading h2 {
  margin-top: 0;
}
.portfolio .portfolio-item .portfolio-heading .action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.portfolio .portfolio-item .portfolio-heading .action-buttons a {
  font-size: 14px;
  border: none;
  background: none;
  text-align: center;
  color: purple;
  margin-left: 8px;
}
.portfolio .portfolio-item .portfolio-heading .action-buttons a i {
  font-size: 20px;
}
.portfolio .portfolio-item .portfolio-heading .action-buttons a span {
  font-size: 12px;
}
.portfolio .portfolio-item .portfolio-heading .action-buttons a .icon {
  display: block;
}
@media screen and (max-width: 1223px) and (orientation: landscape) {
  .header p {
    padding: 8px;
    font-size: 60px;
  }
}
@media screen and (max-width: 1223px) {
  .hidden-on-mobile {
    display: auto;
  }
  .about {
    width: 100%;
  }
  .about .subtitle {
    text-align: center;
  }
  .portfolio-section-heading p {
    padding-top: 20vh;
    font-size: 24px;
  }
  .portfolio {
    width: 100%;
    grid-template-areas: "piece-1" "piece-2" "piece-3" "piece-4";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
