@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt');
body {
  background-color: #f8f4fd;
  color: #2e2e2e;
  font-family: 'Open Sans', sans-serif;
}
body,
p {
  font-size: 16px;
}
h1 {
  font-size: 28.8px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 19.2px;
}
h1,
h2,
h3 {
  color: purple;
}
button {
  background-color: purple;
  color: #fcfcfc;
  text-shadow: 5px 3px 4px #401567;
  border: none;
  border-right: 2px solid #340033;
  border-bottom: 2px solid #340033;
  border-radius: 4px;
  padding: 8px;
}
.header {
  text-align: center;
  z-index: 0;
  margin-top: 0;
  height: 48vh;
  background: linear-gradient(purple, rgba(128, 0, 128, 0.72));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 22vh);
  box-shadow: 0px 2px 3px 0px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
}
.header p {
  margin-top: 0;
  padding: 40px;
  font-family: 'Rock Salt', cursive;
  font-size: 72px;
  color: #fcfcfc;
  text-shadow: 5px 3px 4px #401567;
}
.shadow {
  filter: drop-shadow(0 5px 5px rgba(10, 10, 10, 0.4));
}
.card {
  background-color: #fcfcfc;
  box-shadow: 0px 2px 3px 0px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
  margin-bottom: 32px;
}
.card .card-content {
  padding: 32px;
}
.half-width {
  width: 50%;
}
.centered {
  margin: 0 auto;
}
.content {
  position: absolute;
  top: 26vh;
  z-index: 1000;
  padding: 32px;
}
.about {
  margin: 0 auto 32px auto;
  width: 60%;
  text-align: center;
}
.about .tagline {
  width: fit-content;
  margin-bottom: 64px;
  text-align: left;
}
.about .subtitle {
  margin-top: 0;
  padding-left: 3px;
}
.about h1,
.about h2,
.about h3 {
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}
.about h1 {
  text-align: center;
  font-size: 3.5rem;
}
.about p {
  text-align: left;
}
.about .call-to-action {
  margin: 32px;
  font-size: 28.8px;
  padding: 16px;
}
@media screen and (max-width: 1223px) {
  .hidden-on-mobile {
    display: auto;
  }
  .about {
    width: 100%;
  }
  .about .subtitle {
    text-align: center;
  }
}
